{% extends 'base.html' %}
{% load static %}
{% block title %}{{ category.name }} :: Фениксстрой{% endblock title %}
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area ptb-20 ptb-sm-30">
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li><a href="{% url 'base' %}">Главная</a></li>
            <li class="active"><a href="#">Статьи</a></li>
          </ul>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
    <!-- Blog Area Start -->
    <div class="blog-page pb-60">
      <div class="container">
        <!-- Row End -->
        <div class="row">
        {% for article in articles %}
          <!-- Single Blog Start -->          
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-blog">
              <div class="blog-img">
                <a href="{{ article.get_absolute_url }}"><img src="{{ article.image.url }}" alt="blog-image"></a>
              </div>
              <div class="blog-content">
                  <h4 class="blog-title"><a href="{{ article.get_absolute_url }}">{{ article.text }}</a></h4>
                <div class="blog-meta">
                  <ul>
                    <li><span>Дата публикации: </span> <a href="#">{{ article.pub_date }}</a></li>
                  </ul>
                </div>
                <div class="readmore">
                  <a href="{{ article.get_absolute_url }}">Подробнее.....</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Blog End -->
        {% endfor %}
        </div>
        <!-- Row End -->
        <div class="row">
          <div class="col-sm-12">
            <ul class="blog-pagination pt-20">
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
            <!-- End of .blog-pagination -->
          </div>
        </div>
        <!-- Row End -->
      </div>
      <!-- Container End -->
    </div>
    <!-- Blog Area End -->
{% endblock content %}
