{% load static %}
<div class="blog-area pb-60">
      <div class="container">
        <div class="group-title">
          <h2>From The Blog</h2>
        </div>
         <!-- Popular Categorie Activation Start -->
         <div class="blog-active owl-carousel">
          <!-- Single Blog Start -->
          <div class="single-blog">
            <div class="blog-img">
              <a href="{% url 'blog_detail' %}"><img src="{% static 'img/blog/1.jpg' %}" alt="blog-image"></a>
            </div>
            <div class="blog-content">
                <h4 class="blog-title"><a href="{% url 'blog_detail' %}">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
              <div class="blog-meta">
                <ul>
                  <li><span>By: </span> <a href="#">Jantrik,</a></li>
                  <li><span>On: </span> <a href="#">05 Nov, 2018</a></li>
                </ul>
              </div>
              <div class="readmore">
                <a href="{% url 'blog_detail' %}">Read More.....</a>
              </div>
            </div>
          </div>
          <!-- Single Blog End -->
          <!-- Single Blog Start -->
          <div class="single-blog">
            <div class="blog-img">
              <a href="{% url 'blog_detail' %}"><img src="{% static 'img/blog/2.jpg' %}" alt="blog-image"></a>
            </div>
            <div class="blog-content">
                <h4 class="blog-title"><a href="{% url 'blog_detail' %}">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
              <div class="blog-meta">
                <ul>
                  <li><span>By </span> <a href="#">Jantrik, </a></li>
                  <li><span>On </span> <a href="#">05 Nov, 2018</a></li>
                </ul>
              </div>
              <div class="readmore">
                <a href="{% url 'blog_detail' %}">Read More.....</a>
              </div>
            </div>
          </div>
          <!-- Single Blog End -->
          <!-- Single Blog Start -->
          <div class="single-blog">
            <div class="blog-img">
              <a href="{% url 'blog_detail' %}"><img src="{% static 'img/blog/3.jpg' %}" alt="blog-image"></a>
            </div>
            <div class="blog-content">
                <h4 class="blog-title"><a href="{% url 'blog_detail' %}">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
              <div class="blog-meta">
                <ul>
                  <li><span>By </span> <a href="#">Jantrik, </a></li>
                  <li><span>On </span> <a href="#">05 Nov, 2018</a></li>
                </ul>
              </div>
              <div class="readmore">
                <a href="{% url 'blog_detail' %}">Read More.....</a>
              </div>
            </div>
          </div>
          <!-- Single Blog End -->
          <!-- Single Blog Start -->
          <div class="single-blog">
            <div class="blog-img">
              <a href="{% url 'blog_detail' %}"><img src="{% static 'img/blog/1.jpg' %}" alt="blog-image"></a>
            </div>
            <div class="blog-content">
                <h4 class="blog-title"><a href="{% url 'blog_detail' %}">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
              <div class="blog-meta">
                <ul>
                  <li><span>By </span> <a href="#">Jantrik, </a></li>
                  <li><span>On </span> <a href="#">05 Nov, 2018</a></li>
                </ul>
              </div>
              <div class="readmore">
                <a href="{% url 'blog_detail' %}">Read More.....</a>
              </div>
            </div>
          </div>
          <!-- Single Blog End -->
          <!-- Single Blog Start -->
          <div class="single-blog">
            <div class="blog-img">
              <a href="{% url 'blog_detail' %}"><img src="{% static 'img/blog/2.jpg' %}" alt="blog-image"></a>
            </div>
            <div class="blog-content">
                <h4 class="blog-title"><a href="{% url 'blog_detail' %}">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
              <div class="blog-meta">
                <ul>
                  <li><span>By </span> <a href="#">Jantrik, </a></li>
                  <li><span>On </span> <a href="#">05 Nov, 2018</a></li>
                </ul>
              </div>
              <div class="readmore">
                <a href="{% url 'blog_detail' %}">Read More.....</a>
              </div>
            </div>
          </div>
          <!-- Single Blog End -->
          <!-- Single Blog Start -->
          <div class="single-blog">
            <div class="blog-img">
              <a href="{% url 'blog_detail' %}"><img src="{% static 'img/blog/3.jpg' %}" alt="blog-image"></a>
            </div>
            <div class="blog-content">
                <h4 class="blog-title"><a href="{% url 'blog_detail' %}">Lorem ipsum dolor sit amet, consectl adip elit, sed do eiusmod tempor</a></h4>
              <div class="blog-meta">
                <ul>
                  <li><span>By </span> <a href="#">Jantrik, </a></li>
                  <li><span>On </span> <a href="#">05 Nov, 2018</a></li>
                </ul>
              </div>
              <div class="readmore">
                <a href="{% url 'blog_detail' %}">Read More.....</a>
              </div>
            </div>
          </div>
          <!-- Single Blog End -->
         </div>
         <!-- Popular Categorie Activation End -->
      </div>
      <!-- Container End -->
    </div>
