{% load static %}
<div class="blog-area pb-60">
      <div class="container">
        <div class="group-title">
          <h2>Статьи</h2>
        </div>
         <!-- Popular Categorie Activation Start -->
         <div class="blog-active owl-carousel">
          <!-- Single Blog Start -->
          {% for article in articles %}
          <div class="single-blog">
            <div class="blog-img">
              <a href="{{ article.get_absolute_url }}"><img src="{{ article.image.url }}" alt="blog-image"></a>
            </div>
            <div class="blog-content">
                <h4 class="blog-title"><a href="{{ article.get_absolute_url }}">{{ article.text }}</a></h4>
              <div class="blog-meta">
                <ul>
                  <li><span>Дата публикации: </span> <a href="#">{{ article.pub_date }}</a></li>
                </ul>
              </div>
              <div class="readmore">
                <a href="{{ article.get_absolute_url }}">Подробнее.....</a>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- Single Blog End -->
         </div>
         <!-- Popular Categorie Activation End -->
      </div>
      <!-- Container End -->
    </div>
