<section class="container py-5">
    <div class="row text-center pt-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">Категории товаров</h1>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="row">
    {% for category in categories %}
      <div class="col-12 col-md-4 p-5 mt-3">
        <a href="{{ category.get_absolute_url }}"><img src="{{ category.image.url }}" class="rounded-circle img-fluid border"></a>
        <h5 class="text-center mt-3 mb-3">{{ category.name }}</h5>
        <p class="text-center"><a href="{% url 'shop' %}" class="btn btn-success">В магазин</a></p>
      </div>
    {% endfor %}
    </div>
  </section>
