{% load static %}
<footer class="off-white-bg">
      <div class="footer-top pt-50 pb-60">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mr-auto ml-auto">
              <div class="newsletter text-center">
                <div class="main-news-desc">
                   <div class="news-desc">
                     <h3>Подпишитесь на наши обновления</h3>
                     <p>Получайте на email обновления о наших последних поступлениях и специальных предложениях.</p>
                   </div>
                </div>
                <div class="newsletter-box">
                  <form action="#">
                    <input class="subscribe" placeholder="Введите свой email" name="email" id="subscribe" type="text">
                    <button type="submit" class="submit">Подписаться</button>
                  </form>
                </div>
               </div>              
            </div>
          </div>          
          <div class="row">
            <!-- Single Footer Start -->
            <div class="col-lg-4  col-md-7 col-sm-6">
              <div class="single-footer">
                <h3>Наши Контакты</h3>
                <div class="footer-content">
                  <div class="loc-address">
                    <span><i class="fa fa-map-marker"></i>Адрес: 143960, Московская обл., г. Реутов, ул. пр-кт Мира 40</span>
                    <span><i class="fa fa-envelope-o"></i>Напишите нам: yourinfo@example.com</span>
                    <span><i class="fa fa-phone"></i>Телефон: +7 925 333 3333</span>
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- Single Footer Start -->
            <!-- Single Footer Start -->
            <div class="col-lg-2  col-md-5 col-sm-6 footer-full">
              <div class="single-footer">
                <h3 class="footer-title">Информация</h3>
                <div class="footer-content">
                  <ul class="footer-list">
                    <li><a href="#">Схема проезда</a></li>
                    <li><a href="#">Условия доставки</a></li>
                    <li><a href="#">Гарантия</a></li>
                    <li><a href="#">Способ оплаты</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Single Footer Start -->
            <!-- Single Footer Start -->
            <div class="col-lg-2  col-md-4 col-md-4 col-sm-6 footer-full">
              <div class="single-footer">
                <h3 class="footer-title">Мой Профиль</h3>
                <div class="footer-content">
                  <ul class="footer-list">
                    <li><a href="account.html">Профиль</a></li>
                    <li><a href="#">Заказы</a></li>
                    <li><a href="#">Войти</a></li>
                    <li><a href="#">Статус заказа</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Single Footer Start -->

            <!-- Single Footer Start -->
            <div class="col-lg-2 col-md-4 col-sm-6 footer-full">
              <div class="single-footer">
                <h3 class="footer-title">Часто задаваемые вопросы</h3>
                <div class="footer-content">
                  <ul class="footer-list">
                    <li><a href="#">Как сделать заказ</a></li>
                    <li><a href="#">Как зарегистрироваться</a></li>

                  </ul>
                </div>
              </div>
            </div>
            <!-- Single Footer Start -->
          </div>
          <!-- Row End -->
        </div>
        <!-- Container End -->
      </div>
      <!-- Footer Top End -->
      <!-- Footer Bottom Start -->
      <div class="footer-bottom off-white-bg2">
        <div class="container">
          <div class="footer-bottom-content">
            <p class="copy-right-text">&copy; {% now 'Y' %} Фениксстрой  -  Вы принимаете условия политики конфиденциальности и пользовательского соглашения каждый раз, когда оставляете свои данные
                в любой форме обратной связи на сайте Фениксстрой.ру</p>

          </div>
        </div>
        <!-- Container End -->
      </div>
      <!-- Footer Bottom End -->
    </footer>
