
<i class="fa fa-star {% if product.get_stars > 0 %} text-warning {% else %} text-secondary {% endif %}"></i>
<i class="fa fa-star {% if product.get_stars > 1 %} text-warning {% else %} text-secondary {% endif %}"></i>
<i class="fa fa-star {% if product.get_stars > 2 %} text-warning {% else %} text-secondary {% endif %}"></i>
<i class="fa fa-star {% if product.get_stars > 3 %} text-warning {% else %} text-secondary {% endif %}"></i>
<i class="fa fa-star {% if product.get_stars > 4 %} text-warning {% else %} text-secondary {% endif %}"></i>
