<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
  <title>{% block title %}Итернет-магазин :: Фениксстрой{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'ico/favicon.ico' %}">

  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/css/templatemo.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

  <!-- Load fonts style after rendering the layout styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
</head>

<body>
  <!-- Start Top Nav -->
  {% include 'includes/top_nav.html' %}
  <!-- Close Top Nav -->


  <!-- Header -->
  {% include 'includes/nav_header.html' %}
  <!-- Close Header -->

  <!-- Modal Saerch -->
  {% include 'includes/modal_search.html' %}

{% block content %}

  <!-- Start Banner Hero -->
  {% include 'includes/banner_hero.html' %}
  <!-- End Banner Hero -->

  <!-- Start Categories -->
  {% include 'includes/categories.html' %}
  <!-- End Categories -->

  <!-- Start Featured Product -->
  {% include 'includes/featured_product.html' %}
  <!-- End Featured Product -->

{% endblock content %}

  <!-- Start Footer -->
  {% include 'includes/footer.html' %}
  <!-- End Footer -->

  <!-- Start Script -->
  <script src="{% static 'assets/js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/templatemo.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <!-- End Script -->
</body>

</html>
