{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }} :: Фениксстрой | {{ product.category }} :: {{ product.name }}{% endblock title %}
{% block content %}
{% load thumbnail %}
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area ptb-20 ptb-sm-30">
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li><a href="{% url 'base' %}">Главная</a></li>
            <li><a href="{% url 'shop' %}">Магазин</a></li>
            <li class="active"><a href="#">{{ product.name }}</a></li>
          </ul>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
    <!-- Product Thumbnail Start -->
    <div class="main-product-thumbnail pb-60">
      <div class="container">
        <div class="row">
          <!-- Main Thumbnail Image Start -->
          <div class="col-lg-5">
            <!-- Thumbnail Large Image start -->
            <div class="tab-content">
              <div id="{{ product.image.id }}" class="tab-pane active">
                <a data-fancybox="images" href="{{ product.image.url }}">
                    {% thumbnail product.image '270x250' crop='center' upscale=True as im %}
                    <img src="{{ im.url }}" alt="product-view"></a>
                    {% endthumbnail %}
              </div>
              {% for image in product.images.all %}
              <div id="{{ image.id }}" class="tab-pane">
                <a data-fancybox="images" href="{{ image }}">
                    <img src="{{ image }}" alt="product-view"></a>
              </div>
              {% endfor %}
            </div>
            <!-- Thumbnail Large Image End -->

            <!-- Thumbnail Image End -->
            <div class="product-thumbnail">
              <div class="thumb-menu nav">
                  <a class="active" data-toggle="tab" href="#{{ product.image.id }}"> <img src="{{ product.image.url }}" alt="product-thumbnail"></a>
                  {% for image in product.images.all %}
                    <a data-toggle="tab" href="#{{ image.id }}"> <img src="{{ image }}" alt="product-thumbnail"></a>
                  {% endfor %}
              </div>
            </div>
            <!-- Thumbnail image end -->
          </div>
          <!-- Main Thumbnail Image End -->
          <!-- Thumbnail Description Start -->
          <div class="col-lg-7">
            <div class="thubnail-desc fix">
              <h3 class="product-header">{{ product.name }}</h3>
              <p>Артикул: {{ product.article_number }}</p>
              <div class="rating-summary fix mtb-10">
                <div class="rating f-left">
                  <!--Start Stars-->
                  {% include 'includes/stars.html' %}
                  <!--End Stars-->
                </div>
                <div class="rating-feedback f-left">
                  <a href="#">(Отзывов: {{ product.comments.count }})</a>
                  <a href="#">Добавить отзыв</a>
                </div>
              </div>
              <ul class="list-inline">
        <li class="list-inline-item">
          <h6>Производитель: </h6>
        </li>
        <li class="list-inline-item">
          <p class="text-muted"><strong>{{ product.manufacturer }}</strong></p>
        </li>
        </ul>
              <div class="pro-price mb-10">
                <p><span class="price">Цена: {{ product.price }} руб.</p>
              </div>
              
              <div class="box-quantity">
                <form action='{% url "cart:cart_add" product.id %}' method='post'>
                <input type="hidden" name="product-title" value="Activewear">
                  {{ cart_product_form.quantity }}
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Заказать</button>
                </form>
              </div>
              
              <p class="ptb-20">{{ product.desctriptions|linebreaksbr|truncatechars:200 }}</p>
            </div>
          </div>
          <!-- Thumbnail Description End -->
        </div>
        <!-- Row End -->
      </div>
      <!-- Container End -->
    </div>
    <!-- Product Thumbnail End -->
    <!-- Product Thumbnail Description Start -->
    <div class="thumnail-desc pb-60">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ul class="main-thumb-desc nav">
              <li><a class="active" data-toggle="tab" href="#dtail">Описание товара</a></li>
              <li><a data-toggle="tab" href="#review">Отзывы {{ product.comments.count }}</a></li>
            </ul>
            <!-- Product Thumbnail Tab Content Start -->
            <div class="tab-content thumb-content border-default">
              <div id="dtail" class="tab-pane in active">
                <p>{{ product.desctriptions|linebreaksbr }}</p>
                <ul class="tab-list-item">
                  <li>Свойства товара: {{ product.features }}</li>
                  <li>Материал основы: {{ product.material }}</li>
                  <li>Материал покрытия: {{ product.coating_material }}</li>
                  <li>Тип покрытия: {{ product.type_coating }}</li>
                  <li>Размер: {{ product.size }}</li>
                  <li>Количество в упаковке: {{ product.quantity_pack }}</li>
                  <li>Минимальная упаковка: {{ product.minimum_packaging }}</li>
                  <li>Вес пары: {{ product.pair_weight }}</li>
                  <li>Производитель: {{ product.manufacturer }}</li>
                  <li>Цвета: {{ product.color }}</li>
                </ul>
              </div>
              <div id="review" class="tab-pane">
                <!-- Reviews Start -->
                <div class="review">
                  
                  <h4 class="review-mini-title">Jantrik</h4>
                  <ul class="review-list">
                    <!-- Single Review List Start -->
                    <li>
                      <span>Quality</span>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <label>Jantrik</label>
                    </li>
                    <!-- Single Review List End -->
                    <!-- Single Review List Start -->
                    <li>
                      <span>price</span>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <label>Review by <a href="https://themeforest.net/user/Jantrik">Jantrik</a></label>
                    </li>
                    <!-- Single Review List End -->
                    <!-- Single Review List Start -->
                    <li>
                      <span>value</span>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <label>Posted on 7/20/18</label>
                    </li>
                    <!-- Single Review List End -->
                  </ul>
                </div>
                {% for comment in comments %}
                <h4 class="review-mini-title">{{ comment.author.username }}</h4>
                  <div class="single-comment">
                    <div class="comment-details fix">
                      <span>{{ comment.created }}</span>
                      <p>{{ comment.text | linebreaksbr }}</p>
                    </div>
                    <a class="reply" href="#">ответить</a>
                  </div>
                {% endfor %}

                {% include 'includes/product_comment_new.html' with product=product %}
                </div>
                <div>
              </div>
            </div>
            <!-- Product Thumbnail Tab Content End -->
          </div>
        </div>
        <!-- Row End -->
      </div>
      <!-- Container End -->
    </div>
    <!-- Product Thumbnail Description End -->
    <!-- Realted Product Start -->
    {% include 'includes/related-product.html' %}
    <!-- Realted Product End -->
    
{% endblock content %}
